 *{
 box-sizing: border-box;
 }
 body{
    background-attachment:fixed;
    font-family: 'barlow condensed', sans-serif;
    border:solid white 90px;
}

header h1{
    font-size: 100px;
    padding:5px;
    text-align: center;
    justify-content: center;
    background-color:rgb(122, 154, 140) ;
    color:white;
    line-height: 1.5;
    border:solid white 10px;
    margin-top: 20px;
    width: 2000px;
   
}

#image3 {
    display:block;
    padding-top: 0px;
    border: solid white 10px;
    border-radius: 5px;
    height: 600px;
    image-resolution: 600px;
    margin-top: 20px;
    flex-shrink: inherit;
    
}
    
nav{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;
}
nav a{
    
    color:rgb(122, 154, 140);
    font-size: 50px;
    line-height: 50px;
    margin: 40px ;
    text-decoration: none;
}
.personalbackground{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(186, 194, 191);
    margin-bottom:0px;
    border:solid white;
    border-radius: 30px;
    margin-top: 20px;
    display:flexbox;
}

.about{
    text-align:right;
    margin-left: 0px;
}
.about h2{
    text-align:left;
    font-size:70px;
    float: left;
    padding-left:3%;
    color: white;
    margin-top:30px;
    border-right: solid white ;
    border-width: 10px;
    padding-right: 10px;
}
.about p{
    line-height: 28px;
    display:inline-block;
    width:75%;
    margin: 20;
    padding-right: 5%;
    font-weight:bold;
    padding-top:10px;
    padding-left:10px;
    padding-bottom: 50px;
    
}
.port {
    position:relative;
    color:white;
   
}

.port h3 {
    font-size:30px;
}

.surfreportimage{
    height: 300px;
}
.surfreport{
    border: solid white 5px;
    color:rgb(186, 194, 191);
    width: 300px;
    padding-bottom: 10px;
    
   
}
#srcontainer{
    background-color:white;
    display: inline-flex;
    text-align:center;
    padding:10px;
    margin-left: 10%;
    margin-top: 10%;
}
.calculatorimage{
    height:300px;
}
.calclist{
    border: solid white 5px;
    color:rgb(186, 194, 191);
    width: 300px;
    padding-bottom: 10px;
   
}
#calculator{
    background-color:white;
    justify-content: center;
    text-align:center;
    padding: 10px;
    display:inline-flex;
    margin-left:25%;
    margin-bottom: 20px;
}
.runbuddyimage{
    height:400px;
}
#runbuddy{
    display:inline-flex;
    background-color:white;
    text-align:center;
    padding:10px;
    margin-left: 25%;
    padding-right: 194px;
    margin-bottom: 10px;
}
#runbuddylist{
    border: solid white 5px;
    color:rgb(186, 194, 191);
    width: 300px;
    padding-bottom: 10px;
}
.Endinggroup {
    margin: 20px;
    text-decoration:none;
    height:100%;
    color:white;
}
.worktitle {
    text-align:left;
    font-size:70px;
    float: left;
    padding-left:3%;
    color: white;
    margin-top:30px;
    border-right: solid white ;
    border-width: 10px;
    padding-right: 9.5px;
    padding-top: 20px;
}
.worklist{
    justify-content: center;
}

.header-image {
    width: 100%;
}
#contact-anchor{
    color:white;
    text-decoration:none;
    font-size: 40px;
    text-align:center;
}
